@import "tailwindcss";


body {
  cursor: url('/a.png'), auto;
  font-family: var(--font-poppins), sans-serif;
    ;} 
.clip-path-diagonal {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 0);
}

.group:hover .clip-path-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
